asgiref==3.11.1
black==26.5.1
click==8.4.2
colorama==0.4.6
cssbeautifier==2.0.1
Django==6.0.6
djlint==1.39.4
EditorConfig==0.17.1
jsbeautifier==2.0.1
json5==0.15.0
Markdown==3.10.2
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.10.0
pytokens==0.4.1
PyYAML==6.0.3
regex==2026.5.9
six==1.17.0
sqlparse==0.5.5
tqdm==4.68.3
tzdata==2026.2
