{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="max-w-md mx-auto mt-2">
    <div class="bg-gray-800 p-4 rounded-lg shadow-lg border border-gray-700">
        <h2 class="text-xl font-semibold mb-6 text-blue-500 text-center">Edit Profile</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="space-y-3">
                {% for field in form %}

                <div>
                    <label class="block text-sm text-blue-500 font-semibold mb-1">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                    <p class="text-red-400 text-xs">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>

                {% endfor %}

                <a href="{% url 'password_reset' %}" class="text-sm text-blue-500 hover:text-blue-600 hover:underline">
                    Click here to change your password?
                </a>
            </div>

            <!-- SUBMIT / CANCEL BUTTONS -->
            <div class="grid grid-cols-2 gap-4 items-center mt-5 mb-3">
                <button type="submit"
                    class="cursor-pointer text-center hover:opacity-70 py-2 text-sm font-semibold rounded-full bg-blue-600">
                    Save Changes
                </button>

                <a href="{% url 'home' %}"
                    class="cursor-pointer text-center hover:opacity-70 py-2 text-sm font-semibold rounded-full border border-gray-500">
                    Cancel
                </a>
            </div>

        </form>

    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.getElementById('id_avatar');
        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (!file) return;

            const maxSizeMB = 5;
            if (file.size > maxSizeMB * 1024 * 1024) {
                alert(`File is too big! Max size allowed is ${maxSizeMB}MB.`);
                this.value = "";
                return;
            }

            const fileName = file.name;
            const validExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            if (!validExtensions.exec(fileName)) {
                alert(`Invalid file type. Please upload a JPG, JPEG, or PNG file. Current file: ${fileName}`);
                this.value = "";
            }
        });
    });
</script>

{% endblock %}