{% extends "base.html" %}
{% block title %}
    Chat with {{ contact.username }}
{% endblock title %}
{% block content %}
    <div class="max-w-3xl mx-2 md:mx-auto my-4">
        <div class="rounded-xl border border-gray-700/50 shadow-xl flex flex-col h-[80vh]">
            {% comment %} Header {% endcomment %}
            <div class="p-4 border-b border-gray-700/50 rounded-t-xl flex items-center gap-3">
                <a href="{% url 'inbox' %}"
                   class="text-gray-400 hover:text-gray-200 mr-2">← Back</a>
                <a href="{% url 'user_profile' contact.username %}"
                   class="font-semibold text-lg text-blue-500 hover:text-blue-600 transition">{{ contact.first_name }} {{ contact.last_name }} (@{{ contact.username }})</a>
                {% if contact.is_premium %}
                    <span class="text-[10px] bg-green-500/20 text-green-500 px-3 py-0.5 rounded-full border border-green-500/50">PRO</span>
                {% endif %}
            </div>
            {% comment %} Messages {% endcomment %}
            <div id="chat-box"
                 data-contact="{{ contact.username }}"
                 class="grow p-4 overflow-y-auto space-y-4">
                {% for msg in messages %}
                    <div class="flex {% if msg.sender == request.user %}justify-end{% else %}justify-start{% endif %}">
                        <div class="max-w-[90%] rounded-2xl p-3 {% if msg.sender == request.user %}bg-blue-900/20 text-gray-400 rounded-br-none border border-blue-800/30 {% else %}bg-gray-700/20 text-gray-400 rounded-bl-none border border-gray-600/30 {% endif %} shadow-lg">
                            <p class="text-sm whitespace-pre-wrap">{{ msg.body }}</p>
                            <span class="text-[10px] mt-1 block {% if msg.sender == request.user %} text-blue-400 text-right {% else %} text-blue-500 text-left {% endif %}">{{ msg.created_at|date:"h:i A" }}</span>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-center text-blue-500 text-sm mt-20">Start your conversation with @{{ contact.username }}.</div>
                {% endfor %}
            </div>
            {% comment %} Buttons & Inputs {% endcomment %}
            <div class="p-4 border-t border-gray-700/50 rounded-b-xl">
                <form id="chat-form" method="post" class="flex gap-3">
                    {% csrf_token %}
                    <textarea name="body"
                              id="chat-input"
                              rows="2"
                              class="w-full text-gray-400 border border-gray-600/50 rounded-lg p-2 focus:outline-none focus:border-blue-500/50 resize-none text-sm"
                              placeholder="Type a message..."
                              required></textarea>
                    <button type="submit"
                            class="bg-blue-700 hover:bg-blue-800 text-gray-300 px-6 font-semibold rounded-lg transition shadow-lg shrink-0 cursor-pointer">
                        Send
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
