/* DEFAULT DARK THEME */
:root {
    --color-bg-page: #111827;
    --color-bg-card: #1f2937;
    --color-bg-input: #374151;
    --color-text-main: #f3f4f6;
    --color-text-muted: #9ca3af;
    --color-border: #374151;
    --color-primary: #3b82f6;
    --color-primary-hover: #1d4ed8;
    --color-danger: #f87171;
    --color-error: #ef4444;
    --color-success: #10b981;
    --color-warning: #f59e0b;

    --autofill-bg: #374151;
    --color-text-dev: #f7fafc;
}

/* LIGHT THEME */
[data-theme="light"] {
    --color-bg-page: #c5c5c5;
    --color-bg-card: #ffffff;
    --color-bg-input: #e2e8f0;
    --color-text-main: #0f172a;
    --color-text-muted: #64748b;
    --color-border: #93b1d6;
    --color-primary: #3b82f6;
    --color-primary-hover: #1d4ed8;
    --color-danger: #ef4444;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --autofill-bg: #ffffff;
}

/* UTILITIES */
body {
    background-color: var(--color-bg-page);
    color: var(--color-text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}

body::-webkit-scrollbar {
    width: 0;
}

/* Autofill Fix for different browsers */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--autofill-bg) inset !important;
    -webkit-text-fill-color: var(--color-text-main) !important;
    transition: background-color 5000s ease-in-out 0s;
}