body::-webkit-scrollbar {
    width: 0 !important;
}

/* Dynamic Autofill Fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--autofill-bg) inset !important;
    -webkit-text-fill-color: var(--site-text) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.animate-fade-in-down {
    animation: ping .4s cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes ping {

    75%,
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}