@import "tailwindcss";
@source "../../templates/**/*.html";
@source "../../**/templates/**/*.html";
@source "../../**/*.py";
@source "../js/*.js";

::-webkit-scrollbar {
  width: 0;
}

/* Autofill fix for different browsers */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #f3f4f6 !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 30px #374151 inset !important;
}
