{% extends "base.html" %}
{% block title %}
  Delete Account
{% endblock title %}
{% block content %}
  <div class="max-w-md mx-auto mt-20">
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg border border-red-900/50">
      <div class="text-center mb-6">
        <div class="w-16 h-16 bg-red-900/30 rounded-full flex items-center justify-center mx-auto mb-4 text-3xl pb-2">⚠️</div>
        <h2 class="text-2xl font-semibold text-blue-500">Delete Account?</h2>
        <p class="text-gray-400 text-sm my-2">
          This action will <span class="text-red-400/80 font-semibold">Deactivate</span> your account!
          <br>
          <br>
          You will have a <strong>3-Day Grace Period</strong> to log back in and cancel the deletion. If 3 days pass, all your posts, images, and data will be erased permanently.
        </p>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="flex flex-col gap-5">
          <button type="submit"
                  class="w-full bg-red-500 hover:opacity-70 text-white font-semibold py-2 rounded-lg transition cursor-pointer">
            Yes, Delete My Account
          </button>
          <a href="{% url 'home' %}"
             class="block text-center w-full bg-gray-700 hover:opacity-70 text-white py-2 rounded-lg transition">Cancel, Keep it.</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
