{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      DevHuddle |{% block title %}
        Connect
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>

  <body class="bg-gray-900 text-gray-100 font-sans antialiased overflow-x-hidden">
    {% include 'sections/navbar.html' %}

    <main class="container mx-auto p-3 min-h-[80vh]">
      {% block content %}

      {% endblock %}
    </main>

    {% include 'sections/footer.html' %}

    <script src="{% static 'js/menu_toggle.js' %}"></script>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
