{% extends "base.html" %}

{% block title %}New Post{% endblock %}

{% block content %}

<div class="max-w-xl mx-auto mt-2">
    <div class="bg-site-card p-3 rounded-lg shadow-lg border border-site-border">
        <h2 class="text-2xl font-semibold mb-6 text-site-primary">Create a Huddle_</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-4 text-white">
                {{ form.body }}
                {{ form.body.errors}}

                <div class="mt-4">
                    <label class="block text-sm font-semibold text-site-muted mb-3">
                        Attach Image (Optional)
                    </label>

                    {{ form.image }}
                </div>
            </div>

            <!-- BUTTONS -->
            <div class="grid grid-cols-2 gap-4 items-center mt-7 mb-3">
                <button type="submit"
                    class="cursor-pointer text-center hover:opacity-70 py-2 text-sm font-semibold rounded-full bg-blue-600">
                    Create Post
                </button>

                <a href="{% url 'home' %}"
                    class="cursor-pointer text-center hover:opacity-70 py-2 text-sm font-semibold rounded-full border border-gray-500">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const bodyField = document.querySelector('[name="body"]');
        if (bodyField) {
            bodyField.focus();
        }
    });
</script>
{% endblock scripts %}