{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto mt-2">
    <div class="bg-gray-800 p-4 rounded-lg shadow-xl border border-gray-700">
        <h2 class="text-xl font-semibold mb-4 text-blue-500 text-center">Edit Your Huddle_</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- CATEGORY -->
            <div>
                <label class="text-gray-400 text-sm font-semibold">Post Category :</label>
                {{ form.post_type }}
            </div>

            <!-- IMAGE SECTION -->
            <div class="mb-4">
                <label class="block text-gray-400 text-sm font-semibold mb-2">Image :</label>

                {% if form.instance.image %}
                <div class="flex items-center gap-4 mb-4 p-2 bg-gray-700 rounded-lg">
                    <img src="{{ form.instance.image.url }}" class="h-20 w-20 object-cover rounded-lg">
                    <label class="flex items-center gap-2 cursor-pointer">
                        {{ form.clear_image }}
                        <span class="text-red-400 font-semibold text-sm">Delete this image</span>
                    </label>
                </div>
                {% endif %}

                {{ form.image }}
            </div>

            <!-- POST TEXT -->
            <div>
                {{ form.body }}
            </div>

            <!-- SUBMIT / CANCEL BUTTONS -->
            <div class="grid grid-cols-2 gap-4 items-center mt-5 mb-3">
                <button type="submit"
                    class="cursor-pointer text-center hover:opacity-70 py-2 text-sm font-semibold rounded-full bg-blue-600">
                    Update Post
                </button>

                <a href="{% url 'home' %}"
                    class="cursor-pointer text-center hover:opacity-70 py-2 text-sm font-semibold rounded-full border border-gray-500">
                    Cancel
                </a>
            </div>
        </form>

    </div>
</div>
{% endblock %}