<div class="hidden md:flex items-center gap-8">
    <a href="{% url 'about' %}" class="text-gray-100 hover:text-white transition">About</a>

    <!-- USER PROFILE ICON -->
    {% if not user.is_authenticated %}
    <div class="flex items-center gap-4 border-l border-site-border pl-4 font-medium">
        <a href="{% url 'login' %}" class="text-site-primary hover:text-blue-600 transition">
            Login
        </a>
        <a href="{% url 'signup' %}" class="text-site-primary hover:text-blue-600 transition">
            Join Now
        </a>
    </div>
    {% endif %}
</div>