<div class="hidden md:flex items-center gap-4">
   <!-- USER PROFILE ICON -->
   {% if user.is_authenticated %}
      <a href="{% url 'home' %}"
         class="font-medium transition {% if request.resolver_match.url_name == 'home' %}text-blue-500{% else %}text-gray-400 hover:text-blue-500 {% endif %}">Home</a>
      <a href="{% url 'developer_directory' %}"
         class="font-medium transition {% if request.resolver_match.url_name == 'developer_directory' %}text-blue-500{% else %}text-gray-400 hover:text-blue-500 {% endif %}">Devs</a>
      <a href="{% url 'inbox' %}"
         class="font-medium transition {% if request.resolver_match.url_name == 'inbox' %}text-blue-500{% else %}text-gray-400 hover:text-blue-500 {% endif %}">Inbox</a>
   {% else %}
      <a href="{% url 'about' %}"
         class="font-medium transition {% if request.resolver_match.url_name == 'about' %}text-blue-500{% else %}text-gray-400 hover:text-blue-500 {% endif %}">About</a>
      <div class="flex items-center gap-4 border-l border-gray-700 pl-4 font-medium">
         <a href="{% url 'login' %}"
            class="font-medium transition {% if request.resolver_match.url_name == 'login' %}text-blue-500{% else %}text-gray-400 hover:text-blue-500 {% endif %}">Login</a>
         <a href="{% url 'signup' %}"
            class="font-medium transition {% if request.resolver_match.url_name == 'signup' %}text-blue-500{% else %}text-gray-400 hover:text-blue-500{% endif %}">Join Now</a>
      </div>
   {% endif %}
</div>
