<button onclick="toggleProfileMenu()"
        class="group relative flex items-center focus:outline-none cursor-pointer animate-fade-in-down">
  {% if user.avatar %}
    <img src="{{ user.avatar.url }}?v={% now "U" %}"
         alt="User's profile picture."
         width="32"
         height="32"
         class="w-8 h-8 rounded-full object-cover border-2 border-transparent group-hover:border-blue-500 transition-all duration-300" />
  {% else %}
    <div class="w-8 h-8 rounded-full bg-blue-700 flex items-center justify-center font-bold text-gray-100 border-2 border-transparent group-hover:border-blue-500">
      {{ user.username|slice:":1"|upper }}
    </div>
  {% endif %}
  <span class="absolute top-full right-0 mt-2 bg-blue-700 text-gray-300 border border-blue-500 shadow-xl text-xs px-2.5 py-1.5 rounded-lg opacity-0 -translate-y-1 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-200 whitespace-nowrap pointer-events-none z-50">
    @{{ user.username }}
  </span>
</button>
