<div class="flex flex-col items-center justify-center h-[70vh] cursor-default text-center">
  <!-- HEADING -->
  <h1 class="text-5xl md:text-7xl font-extrabold text-gray-400 mb-6 tracking-tight">Welcome to <span class="text-transparent bg-clip-text bg-linear-to-r from-blue-400 to-purple-500">DevHuddle_</span></h1>
  <!-- INTRODUCTION -->
  <p class="text-xl text-gray-400 mb-8 max-w-2xl px-4 leading-loose text-center">
    Share code, sell assets, get services, hire top talents and build your legacy.
    <span class="text-blue-500 font-semibold">An AI powered Social Media for Software Engineers.</span>
    The professional network that doesn't feel like a corporate meeting or a project repository.
    <span class="text-blue-500 font-semibold">Apply & Hire.</span>
  </p>
  <!-- BUTTONS -->
  <div class="space-x-4 space-y-3 mt-4">
    <a href="{% url 'login' %}"
       class="border border-gray-600 text-gray-100 px-7 py-2 rounded-full hover:bg-gray-800 transition inline-block">Login</a>
    <a href="{% url 'signup' %}"
       class="bg-blue-800 font-semibold text-gray-100 px-5 py-2 rounded-full hover:bg-blue-700 transition inline-block">Create Account</a>
  </div>
</div>
