<div class="hidden lg:flex flex-col gap-4 col-span-1 mt-4">
  <!-- Relevant Jobs -->
  <div class="bg-gray-800/50 border border-gray-700 rounded-lg p-3 shadow-sm">
    <h3 class="flex gap-4 items-center mb-2 border-b pb-2 border-gray-700">
      <span class="font-semibold text-blue-500">Available Jobs</span>
      <span class="text-[10px] bg-gray-900/80 text-green-400 py-1 px-2 rounded-full">Recommended</span>
    </h3>
    <ul class="flex flex-col gap-1 text-sm">
      {% for job in sidebar_jobs %}
        <li>
          <a href="{% url 'post_detail' job.pk %}"
             class="flex flex-col gap-0.5 px-2 py-1 rounded-sm truncate text-gray-400 hover:text-blue-500 bg-gray-900">
            <div class="truncate">{{ job.body }}</div>
            {% if job.tags %}
              <span class="px-1 py-0.5 text-blue-500 truncate">{{ job.tags }}</span>
            {% else %}
              <span class="px-1 py-0.5 text-blue-500">No tags attached</span>
            {% endif %}
          </a>
        </li>
        {% comment %} {% if not forloop.last %}<div class="h-px bg-gray-700/50 my-1 mx-2"></div>{% endif %} {% endcomment %}
      {% empty %}
        <p class="text-xs text-gray-400 italic p-2">No jobs available right now.</p>
      {% endfor %}
    </ul>
  </div>
  <!-- Relevant Projects -->
  <div class="bg-gray-800/50 border border-gray-700 rounded-lg p-3 shadow-sm">
    <h3 class="flex gap-4 items-center mb-2 border-b pb-2 border-gray-700">
      <span class="font-semibold text-blue-500">Explore Projects</span>
      <span class="text-[10px] bg-gray-900/50 text-green-400 py-1 px-2 rounded-full">Recommended</span>
    </h3>
    <ul class="flex flex-col gap-1 text-sm">
      {% for project in sidebar_projects %}
        <li>
          <a href="{% url 'user_profile' project.user.username %}"
             class="flex flex-col gap-1 px-2 py-1 rounded-lg truncate text-gray-400 hover:text-blue-500 bg-gray-900">
            <div class="truncate">{{ project.title }}</div>
            <div class="truncate flex gap-1">
              {% for skill in project.user.skills.all %}<span class="px-1 py-0.5 text-blue-500">{{ skill.name }}</span>{% endfor %}
            </div>
          </a>
        </li>
        {% comment %} {% if not forloop.last %}<div class="h-px bg-gray-700/50 my-1 mx-2"></div>{% endif %} {% endcomment %}
      {% empty %}
        <p class="text-xs text-gray-400 italic p-2">No projects uploaded yet.</p>
      {% endfor %}
    </ul>
  </div>
</div>
