<div class="hidden lg:flex flex-col gap-4 col-span-1 mt-4">
  <!-- Relevant Jobs -->
  <div class="bg-gray-800/50 border border-gray-700 rounded-lg p-3 shadow-sm">
    <h3 class="flex gap-4 items-center mb-2 border-b pb-2 border-gray-700">
      <span class="font-semibold text-blue-500">Available Jobs</span>
      <span class="text-[10px] bg-gray-900/80 text-green-400 py-1 px-2 rounded-full">Recommended</span>
    </h3>
    <ul class="flex flex-col gap-1 text-sm">
      {% for job in sidebar_jobs %}
        <li>
          <a href="{% url 'post_detail' job.pk %}"
             class="flex flex-col gap-1 px-2 py-1 rounded-sm truncate text-gray-400 hover:text-blue-500 bg-gray-900">
            <div class="truncate">{{ job.body }}</div>
            <div class="truncate text-xs flex gap-1">
              {% if job.tags %}
                <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">{{ job.tags }}</span>
              {% else %}
                <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">No tags attached</span>
              {% endif %}
            </div>
          </a>
        </li>
      {% empty %}
        <p class="text-xs text-gray-500 italic p-2">No jobs available right now.</p>
      {% endfor %}
    </ul>
  </div>
  <!-- Relevant Projects -->
  <div class="bg-gray-800/50 border border-gray-700 rounded-lg p-3 shadow-sm">
    <h3 class="flex gap-4 items-center mb-2 border-b pb-2 border-gray-700">
      <span class="font-semibold text-blue-500">Explore Projects</span>
      <span class="text-[10px] bg-gray-900/50 text-green-400 py-1 px-2 rounded-full">Recommended</span>
    </h3>
    <ul class="flex flex-col text-sm">
      <li>
        <a href="#"
           class="flex flex-col gap-1 px-2 py-1 rounded-lg truncate text-gray-400 hover:text-blue-500 hover:bg-gray-900">
          <div class="truncate">DevHuddle_ Open Source Project for Experts</div>
          <div class="truncate text-xs flex gap-1.5">
            <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">Typescript</span>
            <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">React</span>
            <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">JS</span>
            <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">HTML/CSS</span>
            <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">Django</span>
          </div>
        </a>
      </li>
      <div class="h-px bg-gray-700 my-1"></div>
    </ul>
  </div>
</div>
