<div class="hidden lg:flex flex-col gap-4 col-span-1">
    <!-- Relevant Jobs -->
    <div class="bg-gray-800/50 border border-gray-700 rounded-lg p-3 shadow-sm">
        <h3 class="flex gap-4 items-center mb-2 border-b pb-2 border-gray-700">
            <span class="font-semibold text-blue-500">
                Available Jobs
            </span>
            <span class="text-[10px] bg-gray-900/50 text-green-400 py-1 px-2 rounded-full">
                Recommended
            </span>
        </h3>

        <ul class="flex flex-col text-sm">
            <li>
                <a href="#"
                    class="flex items-center justify-between text-gray-400 hover:text-blue-500 transition py-1 pl-2 pr-1 rounded-lg hover:bg-gray-900">
                    <span class="truncate">
                        Ali Institute Multan
                    </span>
                    <span class="bg-gray-900/50 text-blue-500 py-1 px-2 rounded">
                        Fullstack
                    </span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center justify-between text-gray-400 hover:text-blue-500 transition py-1 pl-2 pr-1 rounded-lg hover:bg-gray-900">
                    <span class="truncate">
                        Microsoft Azure
                    </span>
                    <span class="bg-gray-900/50 text-blue-500 py-1 px-2 rounded">
                        CI/CD
                    </span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center justify-between text-gray-400 hover:text-blue-500 transition py-1 pl-2 pr-1 rounded-lg hover:bg-gray-900">
                    <span class="truncate">
                        Sabatier Sanders Co
                    </span>
                    <span class="bg-gray-900/50 text-blue-500 py-1 px-2 rounded">
                        AI/ML
                    </span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center justify-between text-gray-400 hover:text-blue-500 transition py-1 pl-2 pr-1 rounded-lg hover:bg-gray-900">
                    <span class="truncate">
                        Google LLC
                    </span>
                    <span class="bg-gray-900/50 text-blue-500 py-1 px-2 rounded">
                        Data Science
                    </span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center justify-between text-gray-400 hover:text-blue-500 transition py-1 pl-2 pr-1 rounded-lg hover:bg-gray-900">
                    <span class="truncate">
                        Netflix.com USA
                    </span>
                    <span class="bg-gray-900/50 text-blue-500 py-1 px-2 rounded">
                        Backend
                    </span>
                </a>
            </li>
        </ul>

        <div class="flex items-center gap-2 mt-4 pt-2 border-t border-gray-700 flex-wrap">
            <a href="{% url 'search' %}" class="text-xs text-blue-500 hover:underline">Show more</a>
        </div>
    </div>

    <!-- Relevant Projects -->
    <div class="bg-gray-800/50 border border-gray-700 rounded-lg p-3 shadow-sm">
        <h3 class="flex gap-4 items-center mb-2 border-b pb-2 border-gray-700">
            <span class="font-semibold text-blue-500">
                Explore Projects
            </span>
            <span class="text-[10px] bg-gray-900/50 text-green-400 py-1 px-2 rounded-full">
                Recommended
            </span>
        </h3>

        <ul class="flex flex-col text-sm">
            <li>
                <a href="#"
                    class="flex flex-col gap-1 px-2 py-1 rounded-lg truncate text-gray-400 hover:text-blue-500 hover:bg-gray-900">
                    <div class="truncate">
                        DevHuddle_ Open Source Project for Experts
                    </div>
                    <div class="truncate text-xs flex gap-1.5">
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Typescript
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            React
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            JS
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            HTML/CSS
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Django
                        </span>
                    </div>
                </a>
            </li>
            <div class="h-px bg-gray-700 my-1"></div>
            <li>
                <a href="#"
                    class="flex flex-col gap-1 px-2 py-1 rounded-lg truncate text-gray-400 hover:text-blue-500 hover:bg-gray-900">
                    <div class="truncate">
                        Coding Shuttle AI based code editor
                    </div>
                    <div class="truncate text-xs flex gap-1.5">
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Neuralink
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Python
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            PyTorch
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Cassandra
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            TS
                        </span>
                    </div>
                </a>
            </li>
            <div class="h-px bg-gray-700 my-1"></div>
            <li>
                <a href="#"
                    class="flex flex-col gap-1 px-2 py-1 rounded-lg truncate text-gray-400 hover:text-blue-500 hover:bg-gray-900">
                    <div class="truncate">
                        Camel Case Kids Competition 3D Game
                    </div>
                    <div class="truncate text-xs flex gap-1.5">
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            C#
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Unity
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            C/C++
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Linux
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            APIs
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            RESTFul API
                        </span>
                    </div>
                </a>
            </li>
            <div class="h-px bg-gray-700 my-1"></div>
            <li>
                <a href="#"
                    class="flex flex-col gap-1 px-2 py-1 rounded-lg truncate text-gray-400 hover:text-blue-500 hover:bg-gray-900">
                    <div class="truncate">
                        Sorrow 3.0 Mega | Augmented Reality Platform
                    </div>
                    <div class="truncate text-xs flex gap-1.5">
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Spring Boot
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Java
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            JUnit5
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            Python
                        </span>
                        <span class="px-1 py-0.5 rounded bg-gray-900/50 text-blue-500">
                            JS/TS
                        </span>
                    </div>
                </a>
            </li>
        </ul>

        <div class="flex items-center gap-2 mt-4 pt-2 border-t border-gray-700 flex-wrap">
            <a href="{% url 'search' %}" class="text-xs text-blue-500 hover:underline">Show more</a>
        </div>
    </div>
</div>